.font-weight-bold {
    font-weight: bold!important;
}

.float-inherit {
    float: inherit!important;
}

.image-marker {
    position:absolute;
    width: 10px;
    height: 10px;
    background-color:red;
    border-radius: 3px;
}

.draggable {}